<h1>Sql Quries</h1>
<p>Find me in app/views/basic_sql/new.html.erb</p>
<ul>
  <li>
	<div> <%= link_to "Solution from 1-6", controller: "quotations", action: "index" %> </div>
       
  </li>
 <li>
       <div> <%=link_to 'Solution from 7-13', controller: "basic_sql" , action: "new" %> </div> 
 </li>
 
</ul>

