<% for i in 1..@imgs.length %>
<ul>
<li>
<a href="<%= @links[i-1]%>"><img src="<%= @imgs[i-1]%>"  alt=""></img></a>
<p><a href="<%= @links[i-1]%>"><%= @links[i-1]%></a></p><br/>
</li>
</ul>
<% end %>
