

  <h1 class="page-header">Your information</h1>

  <table class="table">
    <thead>
      <tr>
        <td>Name</td>
        <td><%= current_user.name%></td>
      </tr>
      <tr>
        <td>E-Mail</td>
        <td><%= current_user.email%></td>
      </tr>
    </thead>
  </table>
