<h1>Project Plane</h1>

<table>
  <tr>
  <td> <h4> Project description</h4></td>
  </tr>
  <tr>
    <td><p>The main focus of our project is to facilitate the students of AIT especially new student to hire
      the vehicle to some picnic point like SAIM park and other places.The cite will provide the cheapest rout
      between two points.
      The application will be populated using two mechanism. First we will get some data from different source like student
      union and AIT community. Secondly we will provide a short interface for the data entry. Whenever the students visit some place then he/she fill the form with suitable data like about the
      routs and their prices will be entered voluntarily</p>
     <p>In the beginning we have targeted the AIT community including staff, student.
    Later on it may be extended for any user. We will try to reserve some storage on AIT web server or CSIM server
    to facilitate the users</p></td></tr>
  <tr>
    <td><h4>User Profiles</h4></td>
  </tr>
  <tr>
    <td><h6>Profile No 1</h6></td>
  </tr>
  <tr>
    <td><table>
      <tr><td>User Name</td><td>Junaid Ahmad</td></tr>
      <tr><td>Picture</td><td><%= image_tag "Project.jpg", :size => "260x180"  %></td></tr>
      <tr><td>User age</td><td>35 years</td></tr>
      <tr><td>Occupation</td><td>Student/Employee</td></tr>
      <tr><td>Marital Status</td><td>Male</td></tr>
      <tr><td>Accommodation</td><td>Hostalize</td></tr>
      <tr><td>Incom</td><td>HEC funded</td></tr>
      <tr><td>Short term / Long term Goal</td><td>For the time being it will be provided to AIT community and
      later on it may be converted to e-business application</td></tr>
      <tr><td>Equipment for Utilization</td><td>we will try to reserve some space on the AIT web server or CISM web server
        therefor, it can be used any electronic device have the support of internet
      access like computer, smart phone. For the smart phone he/she may use the wifi facility or may use
      the internet facility of mobile network.</td></tr>
    </table></td>

  </tr>
  <tr>
    <td><h6>Profile No 2</h6></td>
  </tr>
  <tr>
    <td><table>
      <tr><td>User Name</td><td>Junaid Ahmad</td></tr>
      <tr><td>Picture</td><td><%= image_tag "Project.jpg", :size => "260x180"  %></td></tr>
      <tr><td>User age</td><td>35 years</td></tr>
      <tr><td>Occupation</td><td>Student/Employee</td></tr>
      <tr><td>Marital Status</td><td>Male</td></tr>
      <tr><td>Accommodation</td><td>Hostalize</td></tr>
      <tr><td>Incom</td><td>HEC funded</td></tr>
      <tr><td>Short term / Long term Goal</td><td>For the time being it will be provided to AIT community and
        later on it may be converted to e-business application</td></tr>
      <tr><td>Equipment for Utilization</td><td>we will try to reserve some space on the AIT web server or CISM web server
        therefor, it can be used any electronic device have the support of internet
        access like computer, smart phone. For the smart phone he/she may use the wifi facility or may use
        the internet facility of mobile network.</td></tr>
    </table></td>

  </tr>
  <tr><td><h4>How the user interact with our application</h4></td></tr>
  <tr>
    <td><table>
      <tr><td>Textual Scenario</td>
        <td>
        The user interaction is very simple.The user will provide the name of two destination i.e. From and to where
        he/she going. It will display the routs as well as different transport facility with their charges. Also the
        lowest and highest cost transport facility will be highlighted.</td>
      </tr>
      <tr>
        <td>
          Graphical Scenario
        </td>
        <td>
          <%= image_tag "ProjectD.png", alt: "This will show the graphical scenario of our project" %>
        </td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td><h4>Offline Alternatives</h4></td>
  </tr>
  <tr>
    <td>
      <ol><li>
      Some offline alternatives are available but it take user time and also pay some money. For example the user may go
      to some place to hire the transport for their picnic may take the user time and also pay some money for going to
      the bus stands and coming back to its destination. As compare to this our service is free and may save the valuable
      time of user as well as the money, because our service is available online and may be used from anywhere.
      As we know that time is very important factor and can never be recover. Our application
      will facilitate the user in this scenario.
      </li>
      <li>The second weak point of offline alternative is that, it is not available for 24 hours, but our service is
       online and available for 24 hours. The user have the ability to access it any time and get the information</li>
      <li>For hiring transport more than one bus station will be available. To find the cheap transport service
         may require more human resources. But in case of our application, it is online and may contains the information of different
        bus stations. Therefore, on single click the user have the ability to find the cheapest transport facility require less human being</li>
      </ol>
    </td>
  </tr>

</table>