
<div id ="container">
  <h1>Peer Evaluation</h1>
  <div id = "review">
    <table>
      <th>
        <td>Group</td>
        <td>Reviews</td>
      </th>
      <tr>
          <td>Group 4  Reviews</td>
          <td>
            <h6>Purpose of the Project</h6>
            <h6>Project Models</h6>
            <h6>Usability</h6>
            <h6>Look and feel</h6>
          </td>
      </tr>
      <tr>
        <td>Group 6  Reviews</td>
        <td>
          <h6>Purpose of the Project</h6>
          <h6>Project Models</h6>
          <h6>Usability</h6>
          <h6>Look and feel</h6>
        </td>
      </tr>
      <tr>
        <td>Reviews Out side Department</td>
        <td>
          <h6>Purpose of the Project</h6>
          <h6>Project Models</h6>
          <h6>Usability</h6>
          <h6>Look and feel</h6>
        </td>
      </tr>
    </table>
  </div>

</div>
