<!DOCTYPE html>
<html>
<head>
  <title>Ps5</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--%= javascript_include_tag 'application', 'data-turbolinks-track' => true %-->
  <%= csrf_meta_tags %>
  <style media="screen">
  </style>
</head>
<body style="background-color:#141d27;  color:white">

<%= yield %>

</body>
</html>
