<h1>Problem Set 1</h1>
<ul>
  <li>
	<%= link_to "ABC", controller: "abc", action: "index" %> 
       
  </li>
 <li>
       <%=link_to 'Divide by Zero', controller: "dividebyzero" , action: "show" %>  
 </li>
 
</ul>
