<html>
  <head><title> Divide BY Zero Exception </title></head>
	<form>
		First Number: <input type="text" name="firstname">
		Second Number: <input type="text" name="lastname">
		<button type="button">Divide</button>
		Result: <input type ="text" name = "result">
			    
	</form>
</html>
