<% if !@directions.nil? %>
    <div>
      <div>
        <h4 align="center">The Origin of the Picnic will be AIT </h4>
        <table class ="table" align="left">
          <tr>
            <th>Destination</th>
            <th>Transport Type</th>
            <th>Price</th>
            <th>Detail</th>
          </tr>
          <% @directions.each  do |direction| %>
              <tr align="left">
                <td><%= direction.destination.name %></td>
                <td><%= direction.transportation.type%> <!--%= Transportation.find(route.transportation_id).type %--></td>
                <td><%= direction.price %></td>
                <td><!--%= route.description %--> <%=link_to 'Detail', service_direction_path(direction) %> </td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
<h5 align="left"><!--%= link_to "Back", service_path, class:'btn btn-warning btn-xs' %--></h5>
<% end %>
