<% if !@directions.nil? %>
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h4 align="center">The Origin of the Picnic will be AIT </h4>
    <table class ="table" align="left">
      <tr>
        <th>Destination</th>
        <th>Transport Type</th>
        <th>Price</th>
        <th>Detail</th>
      </tr>
      <% @directions.each  do |direction| %>
          <tr align="left">
            <td><%= link_to direction.destination.name, service_place_path(direction.destination) %></td>
            <td><%= direction.transportation.type%> <!--%= Transportation.find(route.transportation_id).type %--></td>
            <td><%= direction.price %></td>
            <td><!--%= route.description %--> <%=link_to 'Detail', service_direction_path(direction) %> </td>
          </tr>
      <% end %>
    </table>
  </div>

</div>

<% end %>
