<h4>Detail of the Place</h4>
<table id ="master">
  <tr>
    <td></td><%= @route.description %> </td>
  </tr>
</table>

<h5 align="left"><%= link_to "Back", search_path(id: @route.destination_id, type: @route.transportation_id), class:'btn btn-warning btn-xs' %></h5>