<!DOCTYPE html>
<html>
<body style="background-color:lightgrey">

<h1>Yemini Bajracharya</h1>

<p>Studying at Asian Institute of Technology</p>
<p>Field: Computer Science and Information Management</p>
<p>Program: Bachelor Degree</p>
<p>Email: bajracharyayemini@gmail.com</p>

</body>
</html>
