<!DOCTYPE html>
<html>
<body>
<table class="table table-striped">
  <tr><td><h4>Name:</h4></td>
   <td><h4>Yemini Bajracharya</h4></td>
  </tr>
  <tr><td>Institute: </td>
    <td>Studying at Asian Institute of Technology</td></tr>
<tr><td>Field: </td>
  <td>Computer Science and Information Management</td></tr>
<tr><td>Program: </td>
  <td>Bachelor Degree</td></tr>
<tr><td>Email: </td>
  <td>bajracharyayemini@gmail.com</td></tr>
</table>
</body>
</html>
