<body>
<head>
</head>
  <h1 align="center">Content Management System</h1>
  <table class="table" align = "center" >
    <tr>
      <td>S. No </td>
      <td> Description </td>
    </tr>
    <tr>
      <td>Classification of Contents</td>
      <td></td>
    </tr>
    <tr>
      <td>Content Data Model</td>
      <td></td>
    </tr>
    <tr>
      <td>Work flow of Each Content </td>
      <td></td>
    </tr>
    <tr>
      <td>Visioning System </td>
      <td></td>
    </tr>
    <tr>
      <td>Skeletal Implementation of work flow</td>
      <td></td>
    </tr>

  </table>
</body>