<h1>Problem Set 2</h1>
<ul>
  <li>
  <div> <%= link_to "Solution from 1-6", controller: "quotations", action: "index" %> </div>

  </li>
 <li>
       <div> <%=link_to 'Solution from 7-13', controller: "basic_sql" , action: "index" %> </div>
 </li>

</ul>
