<div class="container">
  <div class="page-header">
    <h1>New Direction</h1>
  </div>
  <div class="row">
    <%= render 'form' %>
  </div>

  <%= link_to  users_directions_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-circle-arrow-left"></span>
    Back
  <% end %>
</div>
